/* customize the text color of the section name in Card Layout */
body#page-course-view-remuiformat .remui-format-card.all-section-format .section .sectionname {
    color: #5c71cc !important;
}

body#page-course-view-remuiformat
    .remui-format-card.single-section-format
    .sections
    .section
    .section-details
    .general-single-card
    .header-progresbar-wrapper
    .section-title {
    color: #5c71cc !important;
}

body#page-course-view-remuiformat .card-section-rightnav,
body#page-course-view-remuiformat .card-section-leftnav {
    background-color: #5071cc !important;
}

/* modify icon size */
body#page-course-view-remuiformat .activityiconcontainer {
    height: 80px;
    width: 80px;
}

body#page-course-view-remuiformat li.activity img.activityicon {
    height: 32px !important;
    width: 32px !important;
}

/* resume button color */
.header-sub-section .progress-resume-wrapper .btn-block {
    background-color: #42c6a5 !important;
    border-color: #44b99c !important;
}

/* matching color with levelups for my-progress widget */
.progress-bar.bg-success {
    background-color: #4ade80 !important;
}

/*trail format fix */
#trailshadebox_content ul.gtopics {
    margin: 20px 15px 20px;
}

#trailshadebox_content.absolute {
    z-index: 6;
}

#trailiconcontainer #star,
#trailiconcontainer #check,
#trailiconcontainer #like {
    z-index: 0;
}

/* PLUGINS*/

/*add style for section-details*/
body#page-course-view-remuiformat .section-details {
    border: 1px solid #d7dfe3;
    border-radius: 8px;
    position: relative;
    padding: 1rem;
    background-color: #fff;
}

.path-mod .activity-description {
    margin-top: 10px;
    padding: 1rem;
    border-radius: 8px;
    background-color: #ffffff;
}
